.creator-card-content {
    height: 500px;
    min-height: 500px;
    color: black;
    vertical-align: center;
    align-content: center;
}

.destiny-health-panel {
    height: 472px;
}

.appearance-panel {
    height: 222px;
}

.creator-card {
    height: 500px;
    color: black;
}

.gender-buttons {
    height: 90px;
    background-color: green;
}

.bottom-panel {
    height: 50px;
    text-align: center;
}

.race-panel {
    height: 450px;
}
.race-panel-white {
    height: 450px;
    color: white;
}

.characteristics-popup{
    background-color: blue;
}


.description {
    height: 165px;
}

.skills-talents-table-body {
    display: block;
    height: 135px;
    overflow: auto;
}

.characteristics-table-body {
    display: block;
    height: 135px;
    overflow: auto;
}