.card-content {
    height: 420px;
    color: black;
    align-content: center;
}

.stories-menu-title {
    font-weight: bold;
}

.stories-menu-item {
    color: black;
    font-weight: bold;
}

.pagination {
    alignment: center;
}

.table {
    height: 100%;
    overflow: scroll;
}

tbody {
    display: block;
    height: 340px;
    overflow: auto;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed
}
