.card-content {
    height: 490px;
    color: black;
    align-content: center;
}

.stories-menu-title {
    font-weight: bold;
}

.stories-menu-item {
    color: black;
    font-weight: bold;
}

.pagination {
    alignment: center;
}

.table {
    height: 100%;
    overflow: scroll;
}

.abilities-table-body{
    display: block;
    height: 403px;
    overflow: auto;
}

.abilities-table-row{
    display: table;
    width: 100%;
    table-layout: fixed
}
